
.navbar-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    flex-direction: row;
    position: relative;

}

.navbar-logo {
    
}

.stack-container {
    
}