
.projects-container {
    width: 100%;
    height: auto;
    justify-content: center;
    justify-items: center;
}


.projects-header {
    text-align: center;
    color: #CED4DA;
    font-family: Roboto-BoldItalic;
    font-size: 32px;
}

.project h2 {
    text-align: center;
}

.project {
    justify-self: center;
    width: 100%;
    
}