body {
    background-color: #212529;
}

.separator {
    width: 50%;
    height: auto;
    border-bottom: 2px solid #343A40;
    padding: 20px;
    margin-left: 25%;
    margin-right: 25%;
}

.copyright {
    text-align: center;
    font-family: Roboto-BoldItalic;
    color: #DEE2E6;
}